.container-producto {
    text-align: center;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 20px auto;
    gap: 2px;
}

.container-search {
    max-width: 50%;
    margin: 10px auto;
}

.image-card {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.image-card-modal {
    height: 300px;
}

.container-card .ant-card-extra a {
    color: red;
}

.alert-precio {
    margin-top: 20px;
}