.container-producto {
    text-align: center;
    margin: 30px auto;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.container-card img {
    max-width: 100%;
    height: 200px;
}